In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
avocado_info = pd.read_csv("avocado_info.csv")

In [3]:
avocado_info.head()

   Growth Duration  Fertilizer
0               98        True
1              108       False
2              129       False
3              116       False
4              111       False

In [4]:
fertilized = avocado_info.loc[avocado_info["Fertilizer"] == True]

not_fertilized = avocado_info.loc[avocado_info["Fertilizer"] == False]

In [5]:
observed_test_stat = np.mean(fertilized["Growth Duration"]) - np.mean(not_fertilized["Growth Duration"])

observed_test_stat

np.float64(-9.266142572024918)

In [6]:
avocado_info["Growth Duration"].sample(frac = 1)

466     120
63      138
843     106
1127     91
702     114
       ...
464     100
239     133
1117     68
600     115
947     149
Name: Growth Duration, Length: 1174, dtype: int64

In [7]:
avocado_info["Growth Duration"].sample(frac = 1).reset_index()

      index  Growth Duration
0       920              116
1       246              137
2        46              110
3        97              136
4       638              142
...     ...              ...
1169    557              122
1170    381              125
1171   1142               91
1172    721              148
1173    542              126

[1174 rows x 2 columns]

In [8]:
avocado_info["Growth Duration"].sample(frac = 1).reset_index(drop = True)

0       129
1       158
2       100
3       139
4       130
       ...
1169    142
1170    125
1171    125
1172    144
1173    160
Name: Growth Duration, Length: 1174, dtype: int64