# 02_03: Dictionaries and Sets

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
capitals = {'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

In [3]:
capitals

{'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

In [4]:
capitals['Italy']

'Rome'

In [5]:
capitals['Spain'] = 'Madrid'

In [6]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid'}

In [7]:
capitals['Germany']

KeyError: 'Germany'

In [ ]:
'Germany' in capitals, 'Italy' in capitals

(False, True)

In [ ]:
morecapitals = {'Germany': 'Berlin', 'United Kingdom': 'London'}

In [ ]:
capitals + morecapitals

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
capitals.update(morecapitals)

In [ ]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'United Kingdom': 'London'}

In [ ]:
del capitals['United Kingdom']

In [ ]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin'}

In [ ]:
birthdays = {(7,15): 'Michele', (3,14): 'Albert'}

In [ ]:
birthdays[(7,15)]

'Michele'

In [ ]:
hash('Italy')

6178145159179487239

In [ ]:
hash((7,15))

-2471369287409462312

In [ ]:
{}

{}

In [ ]:
len({})

0

In [ ]:
for country in capitals:
    print(country)

United States
France
Italy
Spain
Germany

In [ ]:
for country in capitals.keys():
    print(country)

United States
France
Italy
Spain
Germany

In [ ]:
capitals.keys()

dict_keys(['United States', 'France', 'Italy', 'Spain', 'Germany'])

In [ ]:
list(capitals.keys())

['United States', 'France', 'Italy', 'Spain', 'Germany']

In [ ]:
for capital in capitals.values():
    print(capital)

Washington, DC
Paris
Rome
Madrid
Berlin

In [ ]:
for country, capital in capitals.items():
    print(country, capital)

United States Washington, DC
France Paris
Italy Rome
Spain Madrid
Germany Berlin

In [ ]:
continents = {'America', 'Europe', 'Asia', 'Oceania', 'Africa', 'Africa'}

In [ ]:
continents

{'Africa', 'America', 'Asia', 'Europe', 'Oceania'}

In [ ]:
'Africa' in continents

True

In [ ]:
continents.add('Antarctica')

In [ ]:
continents.remove('Antarctica')

In [ ]:
for c in continents:
    print(c)

Asia
Europe
America
Africa
Oceania